*.o
bin
!bin/placeholder.txt

*.pcx.chr
*.pcx.clr
*.pcx.nam
*.pcx.spr
*.pcx.spat.asm
*.pcx.spr.asm
*.png.chr
*.png.clr
*.png.nam
*.png.spr
*.png.spat.asm
*.png.spr.asm
*.tmx.bin

*.rom
*.sym
~tmppre.?

!demo/**/demo_bak.rom
