name: CI and nightly build

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
    - main

jobs:
  build-windows:
    name: Windows build
    runs-on: windows-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v6

    - name: make (Windows)
      run: make -f windows.makefile all

    - name: Upload nightly build
      uses: actions/upload-artifact@v6
      with:
        name: windows-binaries
        path: bin

  build-linux:
    name: Linux build
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v6

    - name: make (Linux)
      run: make -f linux.makefile all

    - name: Upload nightly build
      uses: actions/upload-artifact@v6
      with:
        name: linux-binaries
        path: bin

  build-macos:
    name: MacOS build
    runs-on: macos-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v6

    - name: make (MacOS)
      run: make -f macos.makefile all

    - name: Upload nightly build
      uses: actions/upload-artifact@v6
      with:
        name: macos-binaries
        path: bin
